/* Do not change any line marked -keep- */

html {
    font-size: 100%; /* keep */
    box-sizing: border-box; /* keep */
}
* {
    box-sizing: inherit; /* keep */
}
body {
    font-family: 'Yaldevi', 'Arial', sans-serif;
    background: #5598b2; /* keep */
    color: #333; /* keep */
    margin: 0; /* keep */
}
h1, h2 {
    font-family: 'Merriweather', 'Georgia', serif;
    margin: 0;
}
#tagline {
    font-style: italic;
}
/* all images will stretch to fill their containing element */
img {
    display: block; /* keep */
    width: 100%; /* keep */
}

/* In the grid container below, you will change the columns,
    the rows, and the AREAS to layout the page as instructed
    in the assignment. After it matches the wide example, you will
    write a media query with CSS rules to change the
    layout to match the phone layout example.
    */

/* grid container */
#container {
    max-width: 1280px; /* keep */
    margin: auto; /* keep */
    display: grid; /* keep */
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(8, auto);
    grid-template-areas:
    "header header header header header header"
    "pairing pairing pairing pairing arial georgia"
    "bobwhite-quail bobwhite-quail readability readability readability readability"
    "bobwhite-quail bobwhite-quail line-length line-length line-length line-length"
    "typeface typeface typeface typeface helvetica helvetica"
    "typeface typeface typeface typeface empty empty"
    "footer footer footer footer footer footer";
}

/* all grid items -
    these are the 10 direct children of the container
    - all the grid items are here already!
    You may add lines as needed. Do not change any line marked -keep-
    */

header {
    grid-area: header; /* keep */
    background: #fff; /* keep */
    margin: 0;
    padding: 20px;
    text-align: center;
    font-size: 2rem;
}
#arial {
    grid-area: arial; /* keep */
    background: #a8e8ff; /* keep */
    padding: 20px;
    font-size: .75rem;

}
#georgia {
    grid-area: georgia; /* keep */
    background: #a8e8ff; /* keep */
    font-size: .75rem;
    padding: 20px;
    margin: 0;
}
#pairing {
    grid-area: pairing; /* keep */
    background: #a8e8ff; /* keep */
    padding: 40px;
    margin: 0;
    padding-top: 30px;
    font-size: 1.5rem;
    line-height: 1.50em;
}
#bobwhite-quail {
    grid-area: bobwhite-quail; /* keep */
    background: #d2f4ff; /* keep */
    padding: 40px;
    font-size: .75rem;

}
#readability {
    grid-area: readability; /* keep */
    background: #d2f4ff; /* keep */
    padding: 40px;
    padding-left: 20px;
    font-size: 1.25rem;
    line-height: 1.50em;
    padding-right: 50px;
}
#line-length {
    grid-area: line-length; /* keep */
    background: #d2f4ff; /* keep */
    padding: 20px;
    font-size: 1.25rem;
    line-height: 1.50em;
    padding-right: 50px;

}
#helvetica {
    grid-area: helvetica; /* keep */
    background: #fff; /* keep */
    padding: 20px;
    margin: 40px;
    font-size: .75rem;

}
#typeface {
    grid-area: typeface; /* keep */
    color: #d2f4ff; /* keep */
    background: #5598b2; /* keep */
    padding: 20px;
    font-size: 1.25rem;
    text-shadow: 3px 3px 2px #333;
}
#typeface a {
  text-shadow: none;
}
footer {
    grid-area: footer; /* keep */
    background: #b2988a; /* keep */
    padding: 20px;
    text-align: center;
}

/* end of all 10 grid items */


/* pseudo classes */
a {
    color: #7c6a60; /* keep */
}
a:hover {
    color: #f4cdb7; /* keep */
    text-decoration: none; /* keep */
}

/* media queries below - only 1 is needed */
@media screen and (max-width: 690px) {
  #container {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(9, auto);
    grid-template-areas:
    "header header"
    "arial georgia"
    "pairing pairing"
    "bobwhite-quail bobwhite-quail"
    "readability readability"
    "line-length line-length"
    "helvetica helvetica"
    "typeface typeface"
    "footer footer";
   }
   header img{
    display: none;
  }
  header{
    font-size: 1.75rem;
    padding: 15px;
  }
  #bobwhite-quail{
    padding: 10px;
    margin: 0;
  }

  #helvetica{
    margin: 0;
  }

}
